
.connection{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-right: 2rem;
  .link{
    padding-right: 2rem;
    color: #0d6efd;
  }
  a{
    padding-left: 2rem;
    color: var(--major);
  }
}


.exhibitionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3rem;

  .card {
    width: 25rem;
    margin: 0.5rem;

    .image {
      width: 25rem;
      height: 230px;
      overflow: hidden;
      object-fit: cover;
      opacity: 1;
      transition: opacity 4s ease;
    }


  }
}