
//style
header{
  position: sticky;
  top:0;
  z-index: 999;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  .navbar{
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 5fr minmax(600px, 10fr) 1fr;
    .navbarBrand{
      grid-column: 2/3;
      align-items: center;
      a{
        text-decoration: none;
        color: var(--major);
        font-weight: 600;
      }
    }
    .navbarToggle{
      position: absolute;
      visibility: hidden;
    }
    .nav{
      grid-column: 3/4;
      justify-content: end;
      .navItem{
        padding-left: 1.2rem;
        
        .navLink{
          font-size: 1.2rem;
          color:black;
          border-bottom: 3px solid #ffffff;
          &:hover,
          &:focus {
              color: var(--major);
              border-bottom-color: var(--major);
            }
        }
      }
    }
    .navbarToggleLabel{
      display: none;
    }
  }
}

@media screen and (max-width:864px) {
  header {

      .navbar {
        all:unset;
        width: 100%;
        height: 70px;
        text-align: center;
  
        .navbarBrand {
          line-height: 70px;
          font-size: 1.5rem;
         
        }
  
        .navbarToggle {         
          &:checked~.nav{
          transform: scale(1, 1);
          }
          &:checked~.nav .navItem{
          transition:opacity 0.2s ease-out 0.15s;
          opacity: 1;
          }
        }
  
        .nav {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 100%;
          width:100%;
          background-color: #ffffff;
          transition: transform 0.3s ease-out;
          transform-origin:top ;
          transform:scale(1,0);
  
          .navItem {
            margin:1.4rem 0;
            opacity: 0;
            .navLink{
              all:unset;
              font-size: 1.2rem;
              color: black;
              cursor: pointer;
            }
          }
        }
        .navbarToggleLabel{
          position: absolute;
          top:0;
          bottom:0;
          right:7.5%;
          display: flex;
          align-items: center;
          .hamberger{
            position: relative;
            width: 30px;
            height: 3px;
            background: var(--major);
            &::before{
              content:'';
              position: absolute;
              left: 0;
              bottom: 8px;
              width: 30px;
              height: 3px;
              background: var(--major);
            }
            &::after{
              content:'';
              position: absolute;
              left: 0;
              top: 8px;
              width: 30px;
              height: 3px;
              background: var(--major);
            }
          }
        }
          
      }
    }
}